<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">	
								<label class="col-sm-3 control-label">外键：</label>
								<div class="col-sm-8">
									<input id="foid" name="foid" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">部门编号：</label>
								<div class="col-sm-8">
									<input id="deptId" name="deptId" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">分组编号：</label>
								<div class="col-sm-8">
									<input id="deptGroupId" name="deptGroupId" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">顺序：</label>
								<div class="col-sm-8">
									<input id="norder" name="norder" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">类型，0集团本部，1股份公司：</label>
								<div class="col-sm-8">
									<input id="ntype" name="ntype" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">操作人：</label>
								<div class="col-sm-8">
									<input id="uptuser" name="uptuser" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">操作时间：</label>
								<div class="col-sm-8">
									<input id="upttime" name="upttime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-8">
									<input id="ext1" name="ext1" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-8">
									<input id="ext2" name="ext2" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-8">
									<input id="ext3" name="ext3" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/kbDept/add.js">
	</script>
</body>
</html>
