<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
<div th:include="include :: header"></div>
<link href="/css/plugins/zTree/bootstrapStyle/bootstrapStyle.css"
	rel="stylesheet" />
</head>
<body class="gray-bg">
	<div style="display: inline-block;">
		<div class="pull-left" style="margin-left: 10px;">
			<input id="foid" name="foid" th:value="${foid}" type="hidden">
			<input type="hidden" id="code" th:value="${code}">
			<button type="button" class="btn  btn-primary save_btn">
				<i class="fa fa-plus" aria-hidden="true"></i>保存
			</button>
		</div>
	</div>
	<div style="margin: 10px 20px 10px 5px">
		<ul id="treeMenu" class="ztree"></ul>
	</div>
	<script type="text/javascript" src="/js/plugins/zTree/jquery.min.js"></script>
	<script type="text/javascript"
		src="/js/plugins/zTree/jquery.ztree.core.min.js"></script>
	<script type="text/javascript"
		src="/js/plugins/zTree/jquery.ztree.exedit.min.js"></script>
	<script type="text/javascript">
		var arrs = [];
		var index=0;
		$(document).ready(function() {
			index=0;
			zhouliMenu.loadMenu();
			$(".save_btn").click(function() {
				arrs = [];
				var treeObj = zhouliMenu.getZtreeObj();
				var nodes = treeObj.getNodes();
				if (nodes && nodes.length > 0) {
					for (var i = 0, l = nodes.length; i < l; i++) {
						GetAllIndex(nodes[i]);
					}
				}
				if (arrs && arrs.length > 0) {
					var paramjson = JSON.stringify(arrs);
					//console.log(paramjson);
					$.ajax({
						type : "POST",
						url : "/system/kbDept/changeOrder",
						data : paramjson,//将对象序列化成JSON字符串  
						dataType : "json",
						contentType : 'application/json;charset=utf-8', //设置请求头信息  
						success : function(data) {
							top.layer.msg(data.msg);
							if (data.code == 0) {
								top.layer.closeAll("iframe");
								// 刷新父页面
								parent.location.reload();
							}
						},
						error : function(res) {
						}
					});
				}
			});
		});
		function GetAllIndex(node) {
			if(node.oid!=null&&node.oid!=''){
				index++;
				//var index = node.getIndex();
				var obj = {
					oid : node.oid,
					norder : index
				};
				arrs.push(obj);
			}
			if (node.children && node.children.length > 0) {
				for (var i = 0, l = node.children.length; i < l; i++) {
					GetAllIndex(node.children[i]);
				}
			}
		}
		var setting = {
			callback : {
				beforeDrop : beforeDrop
			},
			check : {
				enable : false
			},
			data : {
				simpleData : {
					enable : true,
					idKey : "deptId",
					pIdKey : "deptGroupId",
					rootPId : "0"
				},
				key : {
					name : "ext1"
				}
			},
			edit : {
				drag : {
					autoExpandTrigger : true,
					prev : true,
					inner : false,
					next : true
				},
				enable : true,
				showRemoveBtn : false,
				showRenameBtn : false
			}
		};
		var zhouliMenu = {
			//加载菜单
			loadMenu : function() {
				$.get("/system/kbDept/sortlist", {
					//sort : 'order_num',
					//order : 'asc',
					limit : 5000,
					offset : 0,
					foid : $("#foid").val()
				}, function(data) {
					if (data) {
						//绑定zTree
						$.fn.zTree.init($("#treeMenu"), setting, data);
						//展开所有节点
						$.fn.zTree.getZTreeObj("treeMenu").expandAll(true);
					}
				});
			},
			getZtreeObj : function() {
				return $.fn.zTree.getZTreeObj("treeMenu");
			}
		};
		function beforeDrop(treeId, treeNodes, targetNode, moveType, isCopy) {
			var pNode = targetNode.getParentNode();
			for (var i = 0, l = treeNodes.length; i < l; i++) {
				var curPNode = treeNodes[i].getParentNode();
				if (curPNode !== pNode) {
					return false;
				}
			}
			return true;
		}
	</script>
</body>
</html>