<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.system.dao.KbDeptDao">

	<select id="get" resultType="com.bootdo.system.domain.KbDeptDO">
		select `oid`,`foid`,`dept_id`,`dept_group_id`,`norder`,`ntype`,`uptuser`,`upttime`,`ext1`,`ext2`,`ext3` from sys_kb_dept where oid = #{value}
	</select>

	<select id="list" resultType="com.bootdo.system.domain.KbDeptDO">
		select `oid`,`foid`,`dept_id`,`dept_group_id`,`norder`,`ntype`,`uptuser`,`upttime`,`ext1`,`ext2`,`ext3` from sys_kb_dept
        <where>  
		  		  <if test="oid != null and oid != ''"> and oid = #{oid} </if>
		  		  <if test="foid != null and foid != ''"> and foid = #{foid} </if>
		  		  <if test="deptId != null and deptId != ''"> and dept_id = #{deptId} </if>
		  		  <if test="deptGroupId != null and deptGroupId != ''"> and dept_group_id = #{deptGroupId} </if>
		  		  <if test="norder != null and norder != ''"> and norder = #{norder} </if>
		  		  <if test="ntype != null and ntype != ''"> and ntype = #{ntype} </if>
		  		  <if test="uptuser != null and uptuser != ''"> and uptuser = #{uptuser} </if>
		  		  <if test="upttime != null and upttime != ''"> and upttime = #{upttime} </if>
		  		  <if test="ext1 != null and ext1 != ''"> and ext1 = #{ext1} </if>
		  		  <if test="ext2 != null and ext2 != ''"> and ext2 = #{ext2} </if>
		  		  <if test="ext3 != null and ext3 != ''"> and ext3 = #{ext3} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by oid desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sys_kb_dept
		 <where>  
		  		  <if test="oid != null and oid != ''"> and oid = #{oid} </if>
		  		  <if test="foid != null and foid != ''"> and foid = #{foid} </if>
		  		  <if test="deptId != null and deptId != ''"> and dept_id = #{deptId} </if>
		  		  <if test="deptGroupId != null and deptGroupId != ''"> and dept_group_id = #{deptGroupId} </if>
		  		  <if test="norder != null and norder != ''"> and norder = #{norder} </if>
		  		  <if test="ntype != null and ntype != ''"> and ntype = #{ntype} </if>
		  		  <if test="uptuser != null and uptuser != ''"> and uptuser = #{uptuser} </if>
		  		  <if test="upttime != null and upttime != ''"> and upttime = #{upttime} </if>
		  		  <if test="ext1 != null and ext1 != ''"> and ext1 = #{ext1} </if>
		  		  <if test="ext2 != null and ext2 != ''"> and ext2 = #{ext2} </if>
		  		  <if test="ext3 != null and ext3 != ''"> and ext3 = #{ext3} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.system.domain.KbDeptDO" useGeneratedKeys="true" keyProperty="oid">
		insert into sys_kb_dept
		(
			`foid`, 
			`dept_id`, 
			`dept_group_id`, 
			`norder`, 
			`ntype`, 
			`uptuser`, 
			`upttime`, 
			`ext1`, 
			`ext2`, 
			`ext3`
		)
		values
		(
			#{foid}, 
			#{deptId}, 
			#{deptGroupId}, 
			#{norder}, 
			#{ntype}, 
			#{uptuser}, 
			#{upttime}, 
			#{ext1}, 
			#{ext2}, 
			#{ext3}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.system.domain.KbDeptDO">
		update sys_kb_dept 
		<set>
			<if test="foid != null">`foid` = #{foid}, </if>
			<if test="deptId != null">`dept_id` = #{deptId}, </if>
			<if test="deptGroupId != null">`dept_group_id` = #{deptGroupId}, </if>
			<if test="norder != null">`norder` = #{norder}, </if>
			<if test="ntype != null">`ntype` = #{ntype}, </if>
			<if test="uptuser != null">`uptuser` = #{uptuser}, </if>
			<if test="upttime != null">`upttime` = #{upttime}, </if>
			<if test="ext1 != null">`ext1` = #{ext1}, </if>
			<if test="ext2 != null">`ext2` = #{ext2}, </if>
			<if test="ext3 != null">`ext3` = #{ext3}</if>
		</set>
		where oid = #{oid}
	</update>
	
	<delete id="remove">
		delete from sys_kb_dept where oid = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from sys_kb_dept where oid in 
		<foreach item="oid" collection="array" open="(" separator="," close=")">
			#{oid}
		</foreach>
	</delete>

</mapper>