<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.system.dao.ReportAutoconfigDao">

	<select id="get" resultType="com.bootdo.system.domain.ReportAutoconfigDO">
		select
		`oid`,`foid`,`tbname`,`rowoid`,`colfieldname`,`colname`,`colaliasname`,`colorder`,`UptTime`,`UptUser`,`Ext1`,`Ext2`,`Ext3`
		from sys_report_autoconfig where oid = #{value}
	</select>

	<select id="list" resultType="com.bootdo.system.domain.ReportAutoconfigDO">
		select
		`oid`,`foid`,`tbname`,`rowoid`,`colfieldname`,`colname`,`colaliasname`,`colorder`,`UptTime`,`UptUser`,`Ext1`,`Ext2`,`Ext3`
		from sys_report_autoconfig
		<where>
			<if test="oid != null and oid != ''"> and oid = #{oid} </if>
			<if test="foid != null and foid != ''"> and foid = #{foid} </if>
			<if test="tbname != null and tbname != ''"> and tbname = #{tbname} </if>
			<if test="rowoid != null and rowoid != ''"> and rowoid = #{rowoid} </if>
			<if test="colfieldname != null and colfieldname != ''"> and colfieldname = #{colfieldname} </if>
			<if test="colname != null and colname != ''"> and colname = #{colname} </if>
			<if test="colaliasname != null and colaliasname != ''"> and colaliasname = #{colaliasname} </if>
			<if test="colorder != null and colorder != ''"> and colorder = #{colorder} </if>
			<if test="upttime != null and upttime != ''"> and UptTime = #{upttime} </if>
			<if test="uptuser != null and uptuser != ''"> and UptUser = #{uptuser} </if>
			<if test="ext1 != null and ext1 != ''"> and Ext1 = #{ext1} </if>
			<if test="ext2 != null and ext2 != ''"> and Ext2 = #{ext2} </if>
			<if test="ext3 != null and ext3 != ''"> and Ext3 = #{ext3} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by tbname,colorder
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from sys_report_autoconfig
		<where>
			<if test="oid != null and oid != ''"> and oid = #{oid} </if>
			<if test="foid != null and foid != ''"> and foid = #{foid} </if>
			<if test="tbname != null and tbname != ''"> and tbname = #{tbname} </if>
			<if test="rowoid != null and rowoid != ''"> and rowoid = #{rowoid} </if>
			<if test="colfieldname != null and colfieldname != ''"> and colfieldname = #{colfieldname} </if>
			<if test="colname != null and colname != ''"> and colname = #{colname} </if>
			<if test="colaliasname != null and colaliasname != ''"> and colaliasname = #{colaliasname} </if>
			<if test="colorder != null and colorder != ''"> and colorder = #{colorder} </if>
			<if test="upttime != null and upttime != ''"> and UptTime = #{upttime} </if>
			<if test="uptuser != null and uptuser != ''"> and UptUser = #{uptuser} </if>
			<if test="ext1 != null and ext1 != ''"> and Ext1 = #{ext1} </if>
			<if test="ext2 != null and ext2 != ''"> and Ext2 = #{ext2} </if>
			<if test="ext3 != null and ext3 != ''"> and Ext3 = #{ext3} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.bootdo.system.domain.ReportAutoconfigDO">
		insert into
		sys_report_autoconfig
		(
		`oid`,
		`foid`,
		`tbname`,
		`rowoid`,
		`colfieldname`,
		`colname`,
		`colaliasname`,
		`colorder`,
		`UptTime`,
		`UptUser`,
		`Ext1`,
		`Ext2`,
		`Ext3`
		)
		values
		(
		#{oid},
		#{foid},
		#{tbname},
		#{rowoid},
		#{colfieldname},
		#{colname},
		#{colaliasname},
		#{colorder},
		#{upttime},
		#{uptuser},
		#{ext1},
		#{ext2},
		#{ext3}
		)
	</insert>

	<update id="update" parameterType="com.bootdo.system.domain.ReportAutoconfigDO">
		update sys_report_autoconfig
		<set>
			<if test="foid != null">`foid` = #{foid}, </if>
			<if test="tbname != null">`tbname` = #{tbname}, </if>
			<if test="rowoid != null">`rowoid` = #{rowoid}, </if>
			<if test="colfieldname != null">`colfieldname` = #{colfieldname}, </if>
			<if test="colname != null">`colname` = #{colname}, </if>
			<if test="colaliasname != null">`colaliasname` = #{colaliasname}, </if>
			<if test="colorder != null">`colorder` = #{colorder}, </if>
			<if test="upttime != null">`UptTime` = #{upttime}, </if>
			<if test="uptuser != null">`UptUser` = #{uptuser}, </if>
			<if test="ext1 != null">`Ext1` = #{ext1}, </if>
			<if test="ext2 != null">`Ext2` = #{ext2}, </if>
			<if test="ext3 != null">`Ext3` = #{ext3}</if>
		</set>
		where oid = #{oid}
	</update>

	<delete id="remove">
		delete from sys_report_autoconfig where oid =
		#{value}
	</delete>

	<delete id="batchRemove">
		delete from sys_report_autoconfig where oid in
		<foreach item="oid" collection="array" open="(" separator=","
			close=")">
			#{oid}
		</foreach>
	</delete>
	<insert id="savelist" parameterType="java.util.List">
		insert into sys_report_autoconfig
		(
		`oid`,
		`foid`,
		`tbname`,
		`rowoid`,
		`colfieldname`,
		`colname`,
		`colaliasname`,
		`colorder`,
		`UptTime`,
		`UptUser`,
		`Ext1`,
		`Ext2`,
		`Ext3`
		)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			#{item.oid},
			#{item.foid},
			#{item.tbname},
			#{item.rowoid},
			#{item.colfieldname},
			#{item.colname},
			#{item.colaliasname},
			#{item.colorder},
			#{item.upttime},
			#{item.uptuser},
			#{item.ext1},
			#{item.ext2},
			#{item.ext3}
			)
		</foreach>
	</insert>
	<delete id="removebyfk">
		delete from sys_report_autoconfig where foid =
		#{value}
	</delete>
	<select id="listbyfk"  resultType="com.bootdo.system.domain.ReportAutoconfigDO">
		select
		`oid`,`foid`,`tbname`,`rowoid`,`colfieldname`,`colname`,`colaliasname`,`colorder`,`UptTime`,`UptUser`,`Ext1`,`Ext2`,`Ext3`
		from sys_report_autoconfig
		where foid = #{value}
		order by tbname,colorder
	</select>
</mapper>