<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<input id="oid" name="oid" th:value="${reportAutoconfigmain.oid}"
								type="hidden">
							<div class="form-group">
								<label class="col-sm-3 control-label">名称：</label>
								<div class="col-sm-8">
									<input id="tname" name="tname"
										th:value="${reportAutoconfigmain.tname}" class="form-control"
										type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">描述：</label>
								<div class="col-sm-8">
									<input id="configdesc" name="configdesc"
										th:value="${reportAutoconfigmain.configdesc}"
										class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">排序：</label>
								<div class="col-sm-8">
									<input id="norder" name="norder"
										th:value="${reportAutoconfigmain.norder}" class="form-control"
										type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">状态：</label>
								<div class="col-sm-8">
									<input id="flag" name="flag"
										th:value="${reportAutoconfigmain.flag}" class="form-control"
										type="text" placeholder="0:正常  1:禁用">
								</div>
							</div>
							<div class="form-group hidden">
								<label class="col-sm-3 control-label">编号：</label>
								<div class="col-sm-8">
									<input id="code" name="code"
										th:value="${reportAutoconfigmain.code}" class="form-control"
										type="text">
								</div>
							</div>
					</div>
					<div class="form-group">
						<div class="col-sm-8 col-sm-offset-3">
							<button type="submit" class="btn btn-primary">提交</button>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript"
		src="/js/appjs/system/reportAutoconfigmain/edit.js">
		
	</script>
</body>
</html>
